


<h1><%=@team[:name]%></h1>
<h2><span>Team Motto: <%=@team[:motto]%><span></h2>

<h2><span>Hero Name: <%=@hero_1[:name]%><span></h2><br/>

<p><span>Hero Power: <%=@hero_1[:power]%><span><p>
<p><span>Hero Biography: <%=@hero_1[:Biography]%><span><p><br/>

<h2><span>Hero Name: <%=@hero_2[:name]%><span></h2><br/>

<p><span>Hero Power: <%=@hero_2[:power]%><span><p>
<p><span>Hero Biography: <%=@hero_2[:Biography]%><span><p><br/>


<h2><span>Hero Name: <%=@hero_3[:name]%><span></h2><br/>

<p><span>Hero Power: <%=@hero_3[:power]%><span><p>
<p><span>Hero Biography: <%=@hero_3[:Biography]%><span><p><br/>





