
<h1><%= @teamName %></h1>
<h2>Team Motto: <%= @teamMotto %><h2>
<h2>Hero Name: <%= @hero1name %></h2>
Hero Power: <%= @hero1power %><br/>
Hero Biography: <%= @hero1bio %><br/>
<h2>Hero Name: <%= @hero2name %></h2>
Hero Power: <%= @hero2power %><br/>
Hero Biography: <%= @hero2bio %><br/>
<h2>Hero Name:  <%= @hero3name %></h2>
Hero Power: <%=  @hero3power %><br/>
Hero Biography: <%= @hero3bio %>